:root{
  --colorBC: #FFF;
  --colorTXT: #000;
  --colorTAB: #ac80ff;
  --colorNAV: #ac80ff;
}
.textOP{
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
#navigationMenuBlocks{
  position: absolute;
  display:inline-block;
  width: 100%;
}
.block{
  display: inline-block;
  background-color: var(--colorNAV);
  width: 50%;
  text-align: center;
  height: auto;
  font-size: 30px;
  padding-top: 5px;
}
#ColorSettings{
  position: absolute;
  z-index: 1000;
  bottom: 0;
}
#Columns{
  position: fixed;
  width: 100%;
  height: 100%;
}
#left{
  background-color: rgb(228, 228, 255);
  left: 0;
  height: 100%;
}
#right{
  right: 0;
  background-color: var(--colorBC);
  height: 100%;
  padding-top: 15px;
}
#left, #right {
    float: left;
    width: 50%;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    z-index: 1000;
  }
#second{
  padding-left: 35px;
  padding-top: 35px;
  text-align: left;
}
.EditOfQuestName{
  width: 45%;
}
.EditOfQuestContent{
  margin-top: 30px;
  width: 80%;
  height: auto;
  resize: none;
  overflow: hidden;
}
.RadioQuest label{
  color: #000;
  display: block;
}
.RadioQuest input[type="radio"]:checked+label {
  color: #76cf9f;
}
body{
  color: var(--colorTXT);
}
table,td,tr{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-spacing: 0px;
  border-collapse: collapse;
}

input, button{
  color: var(--colorTXT);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}
ol{
  list-style-type:none;
  padding:0;
  margin:0;
  font-size:18 px;
  height:2em;
  line-height:2em;
  text-align:center;
  right: 0;
}

ol > li {
  float:left;
  background-color: var(--colorTAB);
  width:150px;
  opacity: 0.9;
}

ol > li > ul {
  display:none;
  padding: 10px;
}
li{
  margin: 0px;
  padding: 0px;
}
ol > li:hover > ul {
  display:block;
}
a{
  color: var(--colorTXT);
  text-decoration: none;
}
a:hover{
  color: #ffffff;
}

